.single-country-container {
  margin: auto;
  max-width: 1200px;
  padding-bottom: 100vh;
}

.home-button-box {
  margin: auto;
  max-width: 1200px;
}

.home-button {
  border: none;
  font-size: 20px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {
  padding: 2px;
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}
.home-button a {
  color: var(--text-color-dark);
}

.dark-mode .home-button a{
  color: var(--text-color-light);
}

.dark-mode .home-button {
  color: var(--text-color-light);
  background-color: var(--background-color-light);
}

.country-details {
  height: 410px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*flag*/
.flag-container-single {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}
.flag {
  width: 100%;
}
/*details*/
.country-details-text-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  height: 70%;
}
.country-details-title {
  width: 100%;
  font-size: 20px;
  display: flex;
}
.country-details-title h1 {
  margin: 0;
}
.country-details-text {
  font-size: 12px;
  width: 100%;
  height: 32%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 0.5;
  margin-bottom: -15px;
}
.country-details p {
  width: 45%;
  font-weight: bold;
}
.native-name-title {
  font-size: 12px;
  flex-direction: row;
  line-height: 0.5;
  display: flex;
  justify-content: left;
  align-items: start;
}
.native-name-title p {
  width: 100%;
}

.arrow {
  background-color: var(--background-color-dark);
}
.dark-mode .arrow {
background-color: var(--text-color-dark);
}

/*CountryDetailsLoader css */
.skeleton-details {
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

text {
  font-size: 13px;
  color: white;
}
.bct {
  font-size: 17px;
}

.border-countries-box {
  width: 560px;
  overflow-x: auto;
  white-space: nowrap;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.border-countries {
  background-color: var(--softer-color-dark);
  color: var(--text-color-dark);
  border-radius: 12px;
  margin: 4px;
  border: 0;
  width: 40px;
  height: 23px;
}

.dark-mode .border-countries {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  border: 1px solid gray;
}

@media only screen and (max-width: 1120px) {
  .home-link-container {
    margin-left: 20px;
  }

  .home-button-box {
    max-width: 90%;
  }
  
  .country-details {
    flex-direction: column;
    height: 500px;
  }

  .flag-container-single {
    width: 90%;
    height: 50%;
    border-radius: 10px;
    margin-top: 25px;
  }

  .country-details {
    height: 700px;
  }

  .flag {
    border-radius: 10px;
  }

  .country-details-text-container {
    width: 90%;
    display: flex;
  }
  .country-details-title {
    width: 100%;
    margin-top: 0px;
  }
  .country-details-text {
    font-size: 14px;
    height: 200px;
    display: flex;
    line-height: 1.7;

  }
  .country-details p {
    width: 45%;
    font-weight: bold;
  }
  .native-name-title {
    font-size: 12px;
    flex-direction: row;
    line-height: 0.5;
    display: flex;
    justify-content: left;
    align-items: start;
  }
  .native-name-title p {
    width: 100%;
  }
  
  /*CountryDetailsLoader css */

  .bct {
    font-size: 17px;
  }

  .border-countries-box p {
    height: 50px;
    width: 100px;
    display: inline-block;
    word-wrap: break-word;
  }

  .border-countries-box {
    width: 360px;
    justify-content: flex-start;
    
  }

  .skeleton-details {
    flex-direction: column;
    width: 110vh;
    margin-left: 5%;
  }

}

@media only screen and (max-width: 400px) {
  .skeleton-details {
    height: 700px;
    width: 710px;
    margin-top: 85px;
  }
  }
