.single-country-container {
  margin: auto;
  max-width: 1200px;
  padding-bottom: 100vh;
}

.home-link-container {
  margin: auto;
  max-width: 1200px;
}

.home-link-container button {
  border: none;
  font-size: 20px;
  margin-top: 50px;
  padding-inline: 0;
}

.home-link-container button a {
  padding: 2px;
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}

.dark-mode .home-link-container button a {
  color: var(--text-color-light);
  background-color: var(--background-color-light);
}

.country-details {
  height: 410px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*flag*/
.flag-container-single {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}
.flag {
  width: 100%;
}
/*details*/
.country-details-text-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  height: 70%;
}
.country-details-title {
  width: 100%;
  font-size: 20px;
  display: flex;
}
.country-details-title h1 {
  margin: 0;
}
.country-details-text {
  font-size: 12px;
  width: 100%;
  height: 32%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 0.5;
  margin-bottom: -15px;
}
.country-details p {
  width: 45%;
  font-weight: bold;
}
.native-name-title {
  font-size: 12px;
  flex-direction: row;
  line-height: 0.5;
  display: flex;
  justify-content: left;
  align-items: start;
}
.native-name-title p {
  width: 100%;
}
.border-countries {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*CountryDetailsLoader css */
.skeleton-details {
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

text {
  font-size: 13px;
}