.country-container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

.home-link {
  color: white;
}

.country-details {
  border: 2px solid red;
  margin: auto;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}

.country-name {
  color: white;
}
