.header {
    max-width: 100%;
    background-color: var(--header-background);
    border: 1px solid rgb(62,74,85);
    box-shadow: 10px;
}
.navbar-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

h3 {
    color: var(--navbar-container-color);
}