header {
    width: 100%;
}

.navbar-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    background-color: rgb(62,74,85);
}