/*Search box*/
.search-box {
  position: relative;
  margin: auto;
  margin-top: 50px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

/*search bar*/
.search-bar {
  outline: none;
  position: relative;
  padding: 20px;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: rgb(32, 44, 54);
  color: white;
  width: 500px;
  font-size: 14px;
}
.search-bar-label {
  position: absolute;
  top: 50%;
  margin-left: 20px;
  padding: 2px;
  transition: all 0.2s ease;
  transform: translateY(-50%);
  background-color: rgba(32, 44, 54, 0.2);
  font-size: 14px;
  color: white;
}
.search-bar.has-content:valid + .search-bar-label {
  top: 10px;
  margin-left: 20px;
  font-size: 14px;
  color: rgb(144, 202, 249);
  background-color: rgb(32, 44, 54);
}
.search-bar:hover {
  border: 1px solid rgb(144, 202, 249);
}

/*Region bar*/
.region-select-container select {
  outline: none;
  padding: 20px;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: rgb(32, 44, 54);
  color: white;
  width: 200px;
  font-size: 14px;
}
.region-label {
  position: absolute;
  top: 40%;
  right: 150px;
  background-color: rgb(32, 44, 54);
  font-size: 14px;
  transition: all 0.2s ease;
  color: rgb(144, 202, 249);
}
.search-by-region:hover {
  border: 1px solid rgb(144, 202, 249);
}

.search-by-region:hover + .region-label {
  top: 1%;
  right: 150px;
}

.search-by-region.changed-to-region ~ .region-label {
  top: 13%;
  padding-right: 2px;
  right: 161px;
}
