:root {
  --background-color-light: #f2f2f2;
  --text-color-light: black;
  --background-color-dark: #2b3844;
  --text-color-dark: white;
  height: 100vh;
}

:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;

  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}

.dark-mode {

  color: var(--text-color-light);
  background-color: var(--background-color-light);
}

body {
  margin: 0;
}

